<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Account Settings - Dasbhoard</title>
    <meta name="description" content="Profile settings">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css?h=2ad2b595dbb7119c5473ff4c94f299d2">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Basic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Belleza">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantata+One&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Copse">
    <link rel="stylesheet" href="../assets/css/bs-dsh-media.css?h=09766d7c0ee3233503df4c9ea00e07af">
    <link rel="stylesheet" href="../assets/css/modal-dailog/ibox.css?h=c9f2927f4495ff0146d0ab474803fb2f">
    <link rel="stylesheet" href="../assets/css/modal-dailog/infobox.css?h=2f8586e0e9d77d99be1d55fe82ad8167">
    <link rel="stylesheet" href="../assets/css/Google-Style-Login.css?h=857edb71cfc135683f2a1788dc6dcd99">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../assets/css/loader.min.css?h=380c56e785f00b4b744f1b48d5aaa1e9">
    <link rel="stylesheet" href="../assets/css/styles.css?h=164f77d159ab5814e0a831cd83a4ef55">
    <link rel="stylesheet" href="../assets/css/Table-With-Search-1.css?h=604cb4e2e523f88e3270d5f1dbcb81fa">
    <link rel="stylesheet" href="../assets/css/Table-With-Search.css?h=151c14cfaa5080353ec48ad9f843c0b4">
</head>

<body>
    <!-- Start: DSH App -->
    <main>
        <!-- Start: App Header -->
        <header class="text-light" style="background: rgb(70, 78, 108);color: white;">
            <!-- Start: Navbar -->
            <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color: #464e6c;">
                <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../assets/img/bitmoser_logo.png?h=dcfb26295dec07c0bc85de44c036119e"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <!-- Start: Home and Notification navbar -->
                        <ul class="nav navbar-nav mx-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active bs-f-bold" href="#">Home</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link bs-f-bold" data-toggle="dropdown" aria-expanded="false" href="#">&nbsp;<span class="badge badge-pill badge-primary bs-bg"><i class="fa fa-envelope-o bs-fa-2"></i></span><small class="log-notification-number"><span class="badge badge-primary tada animated infinite" style="position: absolute;top: -1px;left: 48px;border-radius: 22rem;background-color: #bc3877;">0</span></small></a>
                                <div
                                    class="dropdown-menu" role="menu" style="width: auto !important;position: absolute;">
                                    <h6 class="dropdown-header text-muted" role="presentation"><strong>Notifications</strong></h6>
                                    <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item text-muted" role="presentation" href="#">First item</a><a class="dropdown-item text-muted" role="presentation" href="#">Second Item</a><a class="dropdown-item text-muted" role="presentation"
                                        href="#">Third Item</a>
                                    <div class="dropdown-divider" role="presentation"></div>
                </div>
                </li>
                </ul>
                <!-- End: Home and Notification navbar -->
                <!-- Start: Wallet and User dropdown Navbar -->
                <ul class="nav navbar-nav ml-auto">
                    <!-- Start: Navbar-Wallet -->
                    <li class="nav-item border rounded border-dark shadow-sm mr-5 p-1 mb-2" role="presentation"><a class="nav-link" href="../e-wallet/wallet.html"><i class="fas fa-wallet bs-fa-2" style="color: #af7505;"></i><strong class="ml-2" style="color: #ffd700;">Balance&nbsp;</strong><strong class="ml-2" style="font-size: larger;color: #00cc66;">NGN</strong><strong class="text-monospace ml-1" style="font-size: larger;font-family: monospace;font-weight: 700;">25,700.00</strong></a></li>
                    <!-- End: Navbar-Wallet -->
                    <!-- Start: User Account  Dropdown -->
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link border rounded-0 border-warning shadow bs-f-bold" data-toggle="dropdown" aria-expanded="false" href="#"><img class="rounded-circle" src="../assets/img/fb-id.jpg?h=15e214ee10342db66a416e821fbed12a" style="width: 45px;">&nbsp; <strong>Obi Pascal&nbsp;</strong><strong class="text-warning">ID: 1342422342</strong></a>
                        <div
                            class="dropdown-menu dropdown-menu-right dsh-user-dropdown" role="menu"><a class="dropdown-item bs-color" role="presentation" href="../account/view.html"><i class="far fa-user-circle"></i>&nbsp;<strong>Account</strong></a><a class="dropdown-item bs-color" role="presentation" href="../account/settings.html"><i class="fa fa-gears"></i><strong>&nbsp;Settings</strong></a>
                            <a
                                class="dropdown-item bs-color" role="presentation" href="#"><i class="fas fa-wallet"></i><strong>&nbsp;Wallet</strong></a>
                                </div>
                    </li>
                    <!-- End: User Account  Dropdown -->
                </ul>
                <!-- End: Wallet and User dropdown Navbar -->
                </div>
                </div>
            </nav>
            <!-- End: Navbar -->
        </header>
        <!-- End: App Header -->
        <!-- Start: App Mian Content -->
        <section style="margin-top: 5rem !important;">
            <div class="row no-gutters">
                <!-- Start: App Sidebar -->
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <div class="shadow bs-bg bs-dsh-sidebar bs-sidebar-left"><button class="close text-light close-dsh-sidebar"><span aria-hidden="true">×</span></button>
                        <ul class="nav nav-tabs flex-column bs-dsh-sidebar-nav">
                            <li class="nav-item text-center bs-dsh-sidebar-item"><a class="nav-link bs-dsh-sidebar-links bs-f-bold" href="../index.html"><i class="fa fa-dashboard bs-fa-2 bs-fa-mutted" style="color: #ffd700;"></i>&nbsp;Dashboard</a></li>
                            <li class="nav-item text-center bs-dsh-sidebar-item"><a class="nav-link bs-f-bold bs-dsh-sidebar-links" href="../request/request.html"><i class="fa fa-users bs-fa-2 bs-fa-mutted" style="color: #00b5d6;"></i>&nbsp;Request</a></li>
                            <li class="nav-item text-center bs-dsh-sidebar-item"><a class="nav-link bs-f-bold bs-dsh-sidebar-links" href="../e-wallet/payments.html"><i class="material-icons bs-fa-2 bs-fa-mutted" style="color: #cc7a02;">account_balance_wallet</i>&nbsp;E-Wallet</a></li>
                            <li class="nav-item text-center bs-dsh-sidebar-item"><a class="nav-link bs-f-bold bs-dsh-sidebar-links" href="../servcies/create.html"><i class="fa fa-briefcase bs-fa-2 bs-fa-mutted" style="color: #4c280f;"></i>&nbsp;Services</a></li>
                            <li class="nav-item text-center bs-dsh-sidebar-item"><a class="nav-link bs-f-bold bs-dsh-sidebar-links current-tab" href="../account/view.html"><i class="far fa-user-circle bs-fa-2 bs-fa-mutted" style="color: #8c60c1;"></i>&nbsp;Account</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End: App Sidebar -->
                <!-- Start: Main Content -->
                <div class="col">
                    <ol class="breadcrumb border rounded-0">
                        <li class="breadcrumb-item show-dsh-sidebar"><a><span style="cursor: pointer;"><i class="fa fa-th-large"></i><strong>&nbsp;Menue</strong></span></a></li>
                    </ol>
                    <div class="bs-user-dsh-main-menu">
                        <header></header>
                        <div class="container-fluid">
                            <!-- Start: Card Heading -->
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h4 class="card-title bs-color">Update Account Information</h4>
                                    <hr>
                                </div>
                            </div>
                            <!-- End: Card Heading -->
                            <div>
                                <ul class="nav nav-tabs nav-fill bg-light border rounded shadow-sm mb-1">
                                    <li class="nav-item bs-color" style="font-size: x-large;"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1"><strong>Account&nbsp;</strong></a></li>
                                    <li class="nav-item" style="font-size: x-large;"><a class="nav-link bs-color" role="tab" data-toggle="tab" href="#tab-2"><strong>&nbsp;Request&nbsp;</strong></a></li>
                                    <li class="nav-item" style="font-size: x-large;"><a class="nav-link active bs-color" role="tab" data-toggle="tab" href="#tab-3">Bank/Payments</a></li>
                                </ul>
                                <div class="tab-content bg-light border rounded-0 shadow-sm p-3">
                                    <div class="tab-pane fade" role="tabpanel" id="tab-1">
                                        <!-- Start: Profile Card -->
                                        <div class="card border rounded shadow">
                                            <header class="bg-light mb-2 p-3" style="border: 1px solid rgb(70, 78, 108) !important;">
                                                <div class="row no-gutters">
                                                    <div class="col-xl-3">
                                                        <!-- Start: Client Avatar -->
                                                        <div class="client-avatar mb-2" align="center"><img class="rounded-circle img-fluid border border-info shadow-sm w-50" src="../assets/img/avatar_2x.png?h=7cc9532df578bb0171ffee4fd19b3b83">
                                                            <p class="mt-2"><strong>Preview Profile Picture</strong></p>
                                                        </div>
                                                        <!-- End: Client Avatar -->
                                                    </div>
                                                    <div class="col">
                                                        <!-- Start: Client Info heighlight -->
                                                        <div class="ml-2 profile-file-uploader" align="center">
                                                            <h3 class="text-center text-muted bs-color mt-2" style="font-family: 'Cantata One', serif;">Drag an drop here</h3><small class="form-text text-muted">Help text for a form field.</small>
                                                            <div class="alert alert-success m-2" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>Alert</strong>&nbsp; File upoload progress status</span></div>
                                                        </div>
                                                        <!-- End: Client Info heighlight -->
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="card-body">
                                                <form class="border rounded shadow-sm mb-4">
                                                    <!-- Start: Personal Information -->
                                                    <section class="mb-4">
                                                        <header class="bs-bg">
                                                            <h3 class="bs-color pl-2 pt-3 text-light" style="font-family: 'Cantata One', serif;">Personal Information</h3>
                                                            <hr class="bs-hr">
                                                        </header>
                                                        <div class="table-responsive table-borderless">
                                                            <table class="table table-bordered table-hover">
                                                                <tbody>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Surname *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_surname" required="" placeholder="Surname"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>First Name *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_firstname" required="" placeholder="First Name"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Last Name *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_lastname" required="" placeholder="Last Name"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Email Address *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_email" required="" placeholder="Email"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Phone Number *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="tel" name="update_phoneNumber" required="" placeholder="Phone Number"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Country *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_country" placeholder="Country"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>State/Region *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_state" required="" placeholder="State/Region"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>City/Town *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_city" required="" placeholder="City/Town"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </section>
                                                    <!-- End: Personal Information -->
                                                    <div class="form-group">
                                                        <div class="pr-5" align="right"><button class="btn btn-success bs-bg" type="submit">Save</button></div>
                                                    </div>
                                                </form>
                                                <form class="border rounded shadow-sm mb-4">
                                                    <!-- Start: Business Information -->
                                                    <section class="mb-4">
                                                        <header class="bs-bg">
                                                            <h3 class="bs-color pl-2 pt-3 text-light" style="font-family: 'Cantata One', serif;">Business Information</h3>
                                                            <hr class="bs-hr">
                                                        </header>
                                                        <div class="table-responsive table-borderless">
                                                            <table class="table table-bordered table-hover">
                                                                <tbody>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Business Brand Name *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_bus_brand" required="" placeholder="Business Brand/Company"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Business Offical Email *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_bus_email" required="" placeholder="Business Email"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Buisness Hot Line *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_bus_phoneNumber" required="" placeholder="Busines Phone Number"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Business/Office Address *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="text" name="update_bus_lineAddres1" required="" placeholder="Business Office Address  Line 1"><input class="form-control w-75 mt-1" type="text"
                                                                                name="update_bus_lineAddres2" placeholder="Business Office Address  Line 2"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Business Type *</strong></td>
                                                                        <td class="input"><select class="form-control w-75" name="update_bus_type" required=""><optgroup label="Business Type"><option value="Mobile" selected="">Mobile Business (Moves about)</option><option value="Stationary">Stationary Buinsess (Fixed position)</option></optgroup></select>
                                                                            <small
                                                                                class="form-text text-muted w-75">Business type means the nature of your business. posible options Mobile/Stationary</small>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </section>
                                                    <!-- End: Business Information -->
                                                    <div class="form-group">
                                                        <div class="pr-5" align="right"><button class="btn btn-success bs-bg" type="submit">Save</button></div>
                                                    </div>
                                                </form>
                                                <form class="border rounded shadow-sm mb-4">
                                                    <!-- Start: Business Information -->
                                                    <section class="mb-4">
                                                        <header class="bs-bg">
                                                            <h3 class="bs-color pl-2 pt-3 text-light" style="font-family: 'Cantata One', serif;">Change Password</h3>
                                                            <hr class="bs-hr">
                                                        </header>
                                                        <div class="table-responsive table-borderless">
                                                            <table class="table table-bordered table-hover">
                                                                <tbody>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Old Password *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="password" name="update_old_password" required="" placeholder="Enter old password" autocomplete="on"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>New Password*</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="password" name="update_newPassword" required="" placeholder="Enter new password" minlength="6" pattern="[A-Z0-9]+[a-z0-9]+[^A-Za-z0-9_]" autocomplete="on"
                                                                                id="newPassword"></td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td class="label bs-color"><strong>Re-Enter New Password *</strong></td>
                                                                        <td class="input"><input class="form-control w-75" type="password" name="update_confirmNewPassword" required="" placeholder="Confirm new password" pattern="[A-Z0-9]+[a-z0-9]+[^A-Za-z0-9_]" autocomplete="on"
                                                                                id="cofirmNewPassword"><small class="form-text text-muted">Password Strenght</small>
                                                                            <div class="progress mt-2 w-75">
                                                                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </section>
                                                    <!-- End: Business Information -->
                                                    <div class="form-group">
                                                        <div class="pr-5" align="right"><button class="btn btn-success bs-bg" type="submit">Change</button></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- End: Profile Card -->
                                    </div>
                                    <div class="tab-pane fade" role="tabpanel" id="tab-2">
                                        <form class="border rounded shadow-sm mb-4">
                                            <!-- Start: Personal Information -->
                                            <section class="mb-4">
                                                <header class="bs-bg">
                                                    <h3 class="bs-color pl-2 pt-3 text-light" style="font-family: 'Cantata One', serif;">Service Request Information</h3>
                                                    <hr class="bs-hr">
                                                </header>
                                                <div class="table-responsive table-borderless">
                                                    <table class="table table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="form-group">
                                                                <td class="label bs-color"><strong>Maximum request per day</strong></td>
                                                                <td class="input"><input class="form-control w-75" type="number" name="set_maxReqPerDay" placeholder="e.g   5" min="1" step="1"><small class="form-text text-info w-75">Posible number of task you wish to do per day.</small></td>
                                                            </tr>
                                                            <tr class="form-group">
                                                                <td class="label bs-color"><strong>Success message for each successful request.</strong></td>
                                                                <td class="input"><textarea class="form-control w-75" name="set_reqSuccMsg" placeholder="e.g. Thank's for choosing our service."></textarea></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </section>
                                            <!-- End: Personal Information -->
                                            <div class="form-group">
                                                <div class="pr-5" align="right"><button class="btn btn-success bs-bg" type="submit">Save</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade show active" role="tabpanel" id="tab-3">
                                        <form class="border rounded shadow-sm mb-4">
                                            <!-- Start: Personal Information -->
                                            <section class="mb-4">
                                                <header class="bs-bg">
                                                    <h3 class="bs-color pl-2 pt-3 text-light" style="font-family: 'Cantata One', serif;">Bank/Payment Information</h3>
                                                    <hr class="bs-hr">
                                                </header>
                                                <div class="table-responsive table-borderless">
                                                    <table class="table table-bordered table-hover">
                                                        <tbody>
                                                            <tr class="form-group">
                                                                <td class="label bs-color"><strong>Bank Name</strong></td>
                                                                <td class="input"><input class="form-control w-75" type="text" name="set_bankName" placeholder="Access Bank " list="banklist"><datalist id="banklist">
	<option value="Access Bank"></option>
	<option value="Access Bank(Diamond)"></option>
	<option value="GTBank"></option>
	<option value="UBA Bank"></option>
	<option value="FCMB Bank"></option>
	<option value="Jazy Bank"></option>
	<option value="First Bank"></option>
	<option value="Fidelity Bank"></option>
	<option value="Polarise Bank"></option>
</datalist></td>
                                                            </tr>
                                                            <tr class="form-group">
                                                                <td class="label bs-color"><strong>Bank Account Number</strong></td>
                                                                <td class="input"><input class="form-control w-75" type="tel" name="set_bankAccNo" placeholder="0081946339"></td>
                                                            </tr>
                                                            <tr class="form-group">
                                                                <td class="label bs-color"><strong>Bank Account Name</strong></td>
                                                                <td class="input"><input class="form-control w-75" type="tel" name="set_bankAccName" readonly="" placeholder="OBI PASCAL BANJUARE"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </section>
                                            <!-- End: Personal Information -->
                                            <div class="form-group">
                                                <div class="pr-5" align="right"><button class="btn btn-success bs-bg" type="submit">Save</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Main Content -->
            </div>
        </section>
        <!-- End: App Mian Content -->
        <footer class="py-2 w-100 bs-bg mt-4" style="position: relative;bottom: -174px;z-index: 100;">
            <div align="center">
                <h6 class="m-0 w-25"><strong style="color: #ffffff;">bitmo</strong><strong style="color: #ffd700;">Service</strong></h6>
                <hr class="d-block w-25" style="border-color: #f5f5f5;"><small class="text-muted">©2019-2020 Alright Reserved&nbsp;</small></div>
        </footer>
    </main>
    <!-- End: DSH App -->
    <script src="../assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js?h=2394c9ffd5558f411ffdc3326e9a8962"></script>
    <script src="../assets/js/bsModals/BSModalBox.js?h=0bd64b1e571d34f2972b7ad5fff43d2b"></script>
    <script src="../assets/js/checkpassword-strenght.js?h=e71756e3620bdef83aae01f19d3c2e75"></script>
    <script src="../assets/js/media/bs-dsh-media.js?h=8718b7ee45a84a98423536f0906f03f2"></script>
    <script src="../assets/js/modal-dailog/ibox.js?h=1fcbdbae208e2d19ae41700c853516c4"></script>
    <script src="../assets/js/modal-dailog/infobox.js?h=9022c15d307bf83d64d0ff808da73b8a"></script>
    <script src="../assets/js/request/bs.confirm.request.js?h=f0487fc8b35861824666ea31210f3214"></script>
    <script src="../assets/js/request/bs.rq.md.checkbox.js?h=07da548946826279d962409b7e95b399"></script>
    <script src="../assets/js/request/bs.rq.md.open.close.js?h=d06b6fc885cb92761783b24f16c8f95f"></script>
    <script src="../assets/js/services/bs.htmlparser.min.js?h=be8917ba9f3af231750a5b4eb10573b8"></script>
    <script src="../assets/js/services/form.field.table.js?h=7c96bc2142567c61330f7e474bcc2233"></script>
    <script src="../assets/js/services/update.price.tag.js?h=6fdf7318b86c2b35ce2ce138c9302732"></script>
    <script src="../assets/js/simplify.request.service.min.js?h=413c4d238e384382996e2f5eed283d9b"></script>
    <script src="../assets/js/Table-With-Search.js?h=aeb9a0ac8b6cc9ec2e3b9cc3add2f239"></script>
</body>

</html>