@media (min-width: 992px) {
  .navbar-nav > li > .dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: flex;
    position: absolute;
    left: 91px;
    top: -11px;
  }
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  border-radius: .7rem;
}

.nav-item.dropdown {
  width: fit-content;
}

.nav.navbar-nav.mx-auto.bs-nav-tabs .nav-item .nav-link {
  font-weight: 800;
}

.btn-group-vertical.border-light.shadow-lg.d-flex .btn {
  margin: .0px .0px -1px .0px;
  border: 1px solid white;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: -webkit-fill-available;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: fit-content;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

#bs-login-auth {
  width: 69%;
  border: 1px solid rgb(70, 78, 108);
  padding: 10px;
}

#bs-signup-auth {
  width: 60%;
  border: 1px solid rgb(70, 78, 108);
  padding: 10px;
}

.bs-side-items .btn {
  color: rgb(70, 78, 108);
  font-weight: 600;
  text-align-last: start;
  white-space: inherit;
  text-align: left;
}

.bs-footer-list {
  list-style: none;
  font-weight: 700;
}

.bs-footer-list li a:focus, .bs-footer-list li a:hover {
  color: #9bdbc1;
  text-decoration: none;
  border: 1px solid;
  border-radius: .3rem;
}

.bs-footer-list li a {
  color: #eadd96;
  text-decoration: none;
  border: 1px solid transparent;
  width: 100%;
  padding: 4px;
}

.bs-toggle-margin-top-6 {
  margin-top: 6rem;
  transition: 1s;
}

.bs-toggle-margin-top-0 {
  margin-top: 0rem;
  transition: 1s;
}

.btn.btn-primary.btn-block.btn-lg.toggle-sidebar {
  display: block;
  background-color: #464a6c;
}

.fb:hover {
  background-color: #1485ee;
  transition: .3s;
}

.twit:hover {
  background-color: #1dc7ea;
  transition: .3s;
}

.tumb:hover {
  background-color: gold;
  transition: .3s;
}

.footer-mobile {
  bottom: -60%;
  transition: .3s;
}

.footer-normal {
  bottom: -25%;
  transition: .3s;
}

.ig:hover {
}

.ig:hover {
  background-color: #9e6b05;
  transition: .3s;
}

.stared {
  color: #dd238b;
}

.unstared {
  color: #4285f4;
}

.bs-cate-badge {
  position: absolute;
  right: 0%;
  transform: rotate(45deg);
  top: 66px;
  background-color: rgb(70, 78, 108);
  padding: 7px;
  z-index: 1030;
  left: 61%;
}

a:hover {
  color: #66abe0;
  text-decoration: underline;
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #9368e9;
}

.client-social .fa-facebook-f:hover {
  background-color: #1485ee;
  color: white;
}

.client-social {
  margin: .3rem 0 0 .5rem;
}

.client-social .fa.fa-twitter:hover {
  background-color: #42d0ed;
  color: white;
}

.client-social .fa.fa-camera-retro:hover {
  background-color: #9e6b05;
  color: white;
}

.client-social .fa.fa-tumblr:hover {
  background-color: #f09911;
  color: white;
}

.feedback-comments {
  max-height: 100%;
  height: 32vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 12px;
}

@media screen and (max-width: 768px) {
  .media.border.rounded.shadow-sm {
    display: flow-root;
  }
}

p {
  color: rgb(70,78,108);
}

.mb-0 > a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .col-item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .col-item {
    margin-bottom: 2rem;
  }
}

.col-item {
  margin-bottom: 2rem;
}

.client-signup-form-sections {
  margin-bottom: 2rem;
}

.required-stared {
  color: red;
}

label {
  font-weight: 800;
  color: rgb(70, 78, 108);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #464e6c;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.card.shop-card-panel {
  position: fixed;
  bottom: 0;
  width: 25%;
  right: 0;
  z-index: 1030;
  height: 27rem;
  display: none;
}

.badge.badge-primary.close-shop-card-panel {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  width: 15%;
  height: 39px;
  padding-top: 7px;
  cursor: pointer;
}

.activity-list-item button.added::before {
  content: "";
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 67.3%;
  left: 0.6em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}

.activity-list-item button.added {
  background-color: #CCFF99;
}

.activity-list-item button {
  padding-left: 26px;
}

.currency {
  text-decoration-style: double;
  margin-right: .22rem;
  color: green;
  font-weight: 800;
  text-transform: uppercase;
}

.amount {
  font-weight: 700;
  font-size: 104%;
  color: #464e6c;
}

.client-rates span {
  color: #dd238b;
}

.client-rating {
  position: absolute;
  right: 17px;
  top: 205px;
}

.dailog-occupation {
  position: absolute;
  margin-left: .2em;
  top: 69%;
}

.occupation {
  position: absolute;
  margin-left: .2em;
  top: 49%;
}

.category-badge {
}

.category-badge {
  position: absolute;
  right: 13px;
  z-index: 108;
  transform: rotate(45deg);
  width: fit-content;
  top: 26px;
  background-color: #464e6c;
  font-size: x-small;
}

.client-rates {
  font-size: xx-small;
  padding-right: .31rem;
}

.client-rates .badge small {
  font-size: 200%;
}

.bs-home-content .media {
  margin: .6rem;
  width: 100%;
  padding: 10px;
}

#apps.container i {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background: rgba(0,0,0,0.44);
  overflow-y: scroll;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: rgb(70, 78, 108);
  color: #fff;
  text-align: center;
  width: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.modal-footer .btn-light:focus, .modal-footer .btn-light:hover {
  background: #dd4b39;
  color: #fff;
}

.modal-footer .btn-primary:focus, .modal-footer .btn-primary:hover {
  background-color: #1ebc30;
  color: #fff;
}

.dailog-md0 {
  width: 25%;
  height: 81px;
}

.request-form label {
  color: #935b38;
}

.form-control.request_alt_hire_style {
  display: none;
}

.address:before {
  content: 'Address: ';
  color: rgba(165,42,42,0.45);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: blink;
  font-style: italic;
  font-size: 84%;
}

.bs-side-items .btn {
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
}

.bs-side-items {
  width: 100%;
  max-width: 100%;
}

.bs-nav-tabs > li .nav-link {
  font-weight: 800;
  text-transform: capitalize;
  font-size: x-large;
  border-bottom: 2px solid transparent;
  transition: 1s;
}

.bs-nav-tabs > li .nav-link:hover, .bs-nav-tabs > li .nav-link:focus, .bs-nav-tabs > li .nav-link:active {
  border-bottom-color: gold;
}

select {
  -webkit-appearance: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #d4af2c;
  border-color: #d4af2c;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #d4af2c;
  border-color: #d4af2c;
}

.nav.navbar-nav.mx-auto.bs-nav-tabs {
}

.bs-color-code {
  color: #464a6c;
}

.form-control.auth_input {
  background-color: #e3e3e3;
}

.form-control.auth_input:focus {
  background-color: #fff;
}

.form-control.auth_input:required:invalid {
  background-color: rgba(221,75,57,0.08);
}

.form-control.auth_input:required:valid {
  background-color: rgba(0,128,0,0.19);
}

.form-control.auth_input:required:invalid:focus {
  background-color: #fff;
}

.form-control.auth_input:valid {
  background-color: rgba(0,128,0,0.08);
}

.jumbotron.payment-checkout-card.py-2 {
  border: 1px dashed gray;
}

body {
  background: #e3e3e3;
}

